/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 *,
 *:before,
 *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    line-height: 1.7;
    font-family: Lato, Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    /* background: url(https://images.unsplash.com/photo-1581610186406-5f6e9f9edbc1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80) center no-repeat; */
    /* padding-right: 0; */
    background: url(https://images.unsplash.com/photo-1604076913837-52ab5629fba9?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=934&q=80) top no-repeat;
    /* image from https://unsplash.com/photos/tZCrFpSNiIQ */
    background-size: 100vh;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    
}
body {
    /* min-height: 100vh; */
    margin: 0;
}

.page {
    /* padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left); */
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0;
    transform: translateX(-200%); 
}

.page.active {
    opacity: 1;
    transform: translateX(0);
    transition: transform 400ms ease-in-out;
}

#home header {
    /* background: url(https://images.unsplash.com/photo-1581610186406-5f6e9f9edbc1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1950&q=80) center no-repeat; */
    /* background: url('./playrBackground.jpg') top no-repeat; */
    background: url(https://images.unsplash.com/photo-1604076913837-52ab5629fba9?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=934&q=80) top no-repeat;
    background-size: 100vh;
    margin-bottom: 2rem;
    min-height: 130px;
}
.page header h1 {
    display: flex;
    align-items: flex-start;
    font-size: 2rem;
    padding-left: 3rem;
    grid-area: title;
    /* color:white; */
    letter-spacing: 0.15rem;
    transform: translateY(5rem);
}
#playlist-container {
    padding-top: 0.8rem;
    border-radius: 40px;
    background-color: rgba(249, 250, 255, 0.727);
    /* background-color: rgba(0, 0, 0, 0.415); */
    padding-bottom: 4rem;
}

#playlist-container h3 {
    font-size: 1rem;
    /* padding-bottom: 1rem; */
    border-radius: 20px;
    color: rgb(60, 60, 60);
    background-color:rgba(221, 221, 221, 0.796);
    /* box-shadow: 2px 2px 6px rgba(103, 103, 103, 0.312); */
    width: 30%;
    margin-left: 1.6rem;
    margin-bottom: 0.4rem;
    text-align: center;
}
ul{
    padding-top: 0.5rem;
}
.page.active li {
    display: flex;
    padding: 0.5rem;
    justify-content: left;
    text-align: center;
    padding-left: 0.5rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-bottom: 1rem;
    background-color: rgba(245, 247, 255, 0.967);
    /* background-color: rgba(32, 32, 32, 0.867); */
    border-radius: 45px;
    box-shadow: -2px 6px 12px rgba(0, 0, 0, 0.22);
    align-items: center;
    /* color: white; */
    /* border: 0.5px solid rgb(11, 11, 11); */
}

li div {
    margin-left: 1.5rem;
    text-align: left;
}
li div h6 {
    font-weight: 400;
    /* color: rgb(122, 122, 122); */
}

#home li img {
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
}

/* NOW PLAYING */

#nowPlaying-content{
    padding: 0.5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#nowPlaying-content p, span {
    margin-left: 0.5rem;
}

#nowPlaying-content img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}

.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5rem;
    background-color: black;
    color: white;
    font-size: 12px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}

/* TRACK PAGE */

#track {
    background-color: rgb(0, 0, 0);
}

#track header {
    display: grid;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    grid-template-columns: 1fr 3fr 1fr;
    /* grid-template-areas: "btn-left title btn-right"; */
    justify-items: center;
    height: 120px;
    background-color: rgb(0, 0, 0);
    color: white;
}


/* like button size */
#like i.material-icons {
    max-width: 24px;
    max-height: 24px;
    color:rgb(255, 1, 73);
}

#btnClose {
    color: white;
}
#track-container {
    padding-top: 1rem;
    border-radius: 40px;
    transform: translateY(-2rem);
    background-color: rgb(255, 255, 255);
    box-shadow: -1px -8px 6px rgba(188, 188, 188, 0.25);
    border: none;
}


#playr-item {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4 {
    line-height: 1;
}

#track-image{
    padding: 1rem;
    max-width: 90vw;
    max-height: 40vh;
    border-radius: 50%;
    /* box-shadow: 2.5px 2.5px 28px rgba(255, 4, 96, 0.22); */
    box-shadow: 2.5px 2.5px 28px rgba(255, 1, 73, 0.248);
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    
}

.rotate {
    animation: rotation 15s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

#trackControls, #mainControls {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainControls btn {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}

#trackControls #replay, #mute, #unmute {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

i.mute, i.unmute, i.replay {
    font-size: 2rem;
}

i.rw, i.ff {
    font-size: 2.5rem;
}

i.play, i.pause {
    font-size: 5rem;
    color: rgb(255, 1, 73);
}


.show {
    display: block;
}

.hide {
    display: none;
}

#bar {
    margin-bottom:0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bar progress, p {
    margin: 0.5rem;
}

progress {
    min-width: 60vw;
    max-height: 1vh;
}

progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance: none;
}

progress[value]::-webkit-progress-bar {
    /* styles the container */
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    /* styles the bar */
    /* background-image:
        -webkit-linear-gradient(-45deg, 
            transparent 33%, rgba(0, 0, 0, .1) 33%, 
            rgba(86, 4, 50, 0.1) 66%, transparent 66%),
        -webkit-linear-gradient(top, 
            rgba(255, 9, 87, 0.25), 
            rgba(89, 7, 11, 0.25)),
        -webkit-linear-gradient(bottom, rgb(255, 1, 73), rgb(187, 1, 255)); */
    background: rgb(255, 1, 73);
    border-radius: 20px; 
    background-size: 60px 20px, 100% 100%, 100% 100%;

    /* animates it */
    /* -webkit-animation: animate-stripes 5s linear infinite;
        animation: animate-stripes 5s linear infinite; */

}

/* @-webkit-keyframes animate-stripes {
    100% { background-position: -50px 0px; }
}

@keyframes animate-stripes {
    100% { background-position: -50px 0px; }
} */


/* NEXT SONG */

#nextSong-container{
    display:flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0.2rem);
    color: white;
    font-size: 12px;
    background-color: rgb(0, 0, 0);
}




