/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* //////////////////////////////// GENERAL //////////////////////////////// */
 *,
 *:before,
 *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    line-height: 1.7;
    font-family: Lato, Arial, Helvetica, sans-serif;
    background-color: rgb(209, 209, 209);
    background: url(./background-by-mymind-unsplash.jpg) top no-repeat;
    /* Photo by myming from unsplash https://unsplash.com/photos/tZCrFpSNiIQ */
    background-size: 100vh;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    
}
body {
    margin: 0;
}
.page {
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0;
    transform: translateX(-200%); 
}
.page.active {
    opacity: 1;
    transform: translateX(0);
}
.show {
    display: block;
}
.hide {
    display: none;
}
/* //////////////////////////////// END OF GENERAL //////////////////////////////// */


/* //////////////////////////////// HOMEPAGE //////////////////////////////// */
section#home.page.active {
    transform: translateX(0);
    animation: fadeIn 0.6s ease-out forwards; 
}
#home header {
    background: url(header-by-ken-cheung-unsplash.jpg) bottom no-repeat;
    /* Photo by Ken Cheung from Unsplash https://unsplash.com/photos/C7ZEKkaMz3A */
    background-size: 100vh;
    margin-bottom: 2rem;
    min-height: 190px;
}
.page header h1 {
    display: flex;
    align-items: flex-start;
    font-size: 2rem;
    padding-left: 2rem;
    grid-area: title;
    color:white;
    font-size: 2rem;
    transform: translateY(6rem);
}
.segmentedBtn {
    background-color: rgb(209, 209, 209);
    border-radius: 40px;
    margin-left: 0.5rem;
    padding: 0.1rem;
}
.toggleTitles {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1.5rem;
    padding-left: 0.8rem;
    background-color: rgba(245, 247, 255, 0.967);
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
.toggleTitles button {
    font-size: 12px;
    padding: 0.4rem;
    border-radius: 20px;
    color: rgb(123, 123, 123);
    background-color: rgb(209, 209, 209);
    text-align: center;
    width: 49%;
    border: 0.5px solid rgb(209, 209, 209);
}
.toggleTitles button:active {
    color: #ffffff;
    background-color:  #ff0044;
}
ul{
    padding-top: 0.5rem;
}
.page.active li {
    display: flex;
    padding: 0.5rem;
    padding-right: 1rem;
    justify-content: left;
    text-align: center;
    padding-left: 0.5rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
    margin-bottom: 0.5rem;
    background-color: rgb(245, 247, 255);
    border-radius: 45px;
    box-shadow: -10px -5px 10px rgba(0, 0, 0, 0.118);
    align-items: center;
}
li div {
    margin-left: 1rem;
    text-align: left;
}
li div h4, h5 {
    width: 11rem;
}
h4 {
    line-height: 1;
}
li div h5 {
    font-weight: 400;
    font-size: 14px;
    color: #484848;
    /* color: rgb(122, 122, 122); */
}
#home li img {
    max-width: 60px;
    max-height: 60px;
    border-radius: 50%;
}


/* * * * * PLAYLIST * * * * */
#playlist-container {
    padding-top: 1rem;
    border-radius: 40px;
    background-color: rgb(245, 247, 255);
    padding-bottom: 2rem;
    transform: translateY(-4.5rem);
}
/* removes my sticky title if I keep this, but I dont have a transition for playlist :( */
#playlist {
    background-color: rgb(245, 247, 255);
    padding-bottom: 2rem;
    /* animation: slideInRight 0.2s ease-in-out forwards; */
}
.musicOnIcon {
    justify-content: right;
    translate: 8rem;
}
.musicOnIcon span {
    color: #484848;
}

/* * * * * FAVOURITES * * * * */
#favePage{
    background-color: rgb(245, 247, 255);
    padding-bottom: 2.5rem;
    height: 25rem;
    animation: slideInLeft 0.2s ease-in-out forwards;
}
#faveSongsList p {
    /* margin-top: 2rem; */
    font-size: 16px;
    text-align: center;
}


/* * * * * NOW PLAYING * * * * */
#nowPlaying-container {
    border: 1px;
    padding: 0.2;
}
#nowPlaying-content{
    padding: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#nowPlaying-content p, span {
    margin-left: 0.5rem;
    font-size: 13px;
}
#nowPlaying-content img {
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}
.footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #1a1422;
    color: white;
    font-size: 12px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
}
/* //////////////////////////////// END OF HOMEPAGE //////////////////////////////// */


/* //////////////////////////////// TRACKS PAGE //////////////////////////////// */
section#track.page.active{
    animation: slideUp 0.6s ease-out forwards;
}
#track {
    background-color: #1a1422;
}
#track header {
    display: grid;
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: center;
    height: 120px;
    background-color: #1a1422;
    color: white;
}
#track-container {
    padding-top: 1rem;
    border-radius: 40px;
    transform: translateY(-2.4rem);
    background-color: rgb(245, 247, 255);
    box-shadow: -1px -8px 6px rgba(188, 188, 188, 0.25);
    border: none;
}
#playr-item {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#track-image{
    padding: 1rem;
    max-width: 90vw;
    max-height: 40vh;
    border-radius: 50%;
    box-shadow: 0 2.5px 22px rgba(255, 1, 73, 0.248);
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
}
.rotate {
    animation: rotation 30s infinite linear;
}
h4#playing-title {
    font-size: 17px;
}
#trackControls, #mainControls {
    display: flex;
    justify-content: center;
    align-items: center;
}
#mainControls btn {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
}
#trackControls #replay, #mute, #unmute {
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}
i.songLiked {
    font-size: 30px;
    color:#ff0044;
}
i.faveOutline {
    font-size: 30px;
    color: white;
}
i.back {
    font-size: 1.7rem;
}
i.mute, i.unmute, i.replay {
    font-size: 2rem;
}
i.rw, i.ff {
    font-size: 2.5rem;
}
i.play, i.pause {
    font-size: 5rem;
    color: #ff0044;
}


/* * * * * PROGRESS BAR * * * * */
#bar {
    margin-bottom:0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bar progress, p {
    margin: 0.5rem;
}
progress {
    min-width: 60vw;
    max-height: 1vh;
}
progress[value] {
    -webkit-appearance: none;
    appearance: none;
}
progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
progress[value]::-webkit-progress-value {
    background: #ff0044;
    border-radius: 20px; 
    background-size: 60px 20px, 100% 100%, 100% 100%;
}


/* * * * * NEXT SONG * * * * */
#nextSong-container{
    display:flex;
    justify-content: center;
    align-items: center;
    transform: translateY(0.2rem);
    color: white;
    font-size: 13px;
    background-color: #1a1422;
}


/* //////////////////////////////// END OF TRACKS PAGE //////////////////////////////// */


/* //////////////////////////////// ANIMATION //////////////////////////////// */
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
@keyframes slideInRight {
    0% {
        transform: translateX(-500px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes slideInLeft {
    0% {
        transform: translateX(500px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes slideUp {
    0% {
        transform: translateX(-400px) scale(.2);
    }
    100% {
        transform: translateY(0px) scale(1);
    }
}
@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* //////////////////////////////// END OF ANIMATION //////////////////////////////// */